/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

    .link-brand_img{
        width: auto;
        height: 30px;
    }

    .bottom-item::before{
        display: none;
    }
}